{{ define "body_classes" }}page-contact{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-14 pb-md-14">
    <div class="row justify-content-start">
        <div class="col-12 col-md-4">
            <div class="service service-single">
                <h1 class="title">{{.Title}}</h1>
                <div class="content mt-4">{{.Content}}</div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="sidebar">
                <form action="https://formspree.io/f/xanoorrv" method="POST" class="mt-4">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label">Name</label>
                            <input
                                    type="text"
                                    id="firstName"
                                    name="name"
                                    class="form-control"
                                    placeholder="Name"
                                    required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName" class="form-label">lastname</label>
                            <input
                                    type="text"
                                    id="lastName"
                                    name="lastname"
                                    class="form-control"
                                    placeholder="Your last name"
                                    required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                                placeholder="email@example.com"
                                required>
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea
                                id="message"
                                name="message"
                                class="form-control"
                                rows="4"
                                placeholder="Your message here ..."
                                required></textarea>
                    </div>

                    <!-- Honeypot para bots -->
                    <div class="visually-hidden">
                        <label>Deja este campo vacío:
                            <input name="bot-field">
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Send</button>
                </form>

            </div>
        </div>
    </div>

    {{ end }}