{{ define "body_classes" }}page-team-list{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <h1 class="title">{{.Title}}</h1>
      <div class="col-12 col-lg-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {{ range sort (where .Pages "Params.alumni" "!=" true) ".Params.order" "asc" }}
    <div class="col-12 col-md-4 mb-5">{{ .Render "summary-large" }}</div>
    {{ end }}
  </div>
  <h2 class="title alumni">Meet our Alumni</h2>
  <div class="row">
    {{ range sort (where .Pages "Params.alumni" "=" true) ".Params.order" "asc" }}
    <div class="col-12 col-md-4 mb-2">{{ .Render "summary-large" }}</div>
    {{ end }}
  </div>
</div>
{{ end }}