<div class="logo-carousel container py-4">
    <div class="swiper logos-swiper">
        <div class="swiper-wrapper">
                {{ range .Site.Data.logos }}
                <div class="swiper-slide">
                    <a href="{{ .url }}" target="_blank">
                        <img src="{{ .image | relURL }}" alt="{{ .name }}" style="max-height:80px; max-width:100%; object-fit:contain;">
                    </a>
                </div>
                {{ end }}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<!-- Inicializar Swiper -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var swiper = new Swiper(".logos-swiper", {
            slidesPerView: 5,
            spaceBetween: 30,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                1024: { slidesPerView: 4 },
                768: { slidesPerView: 3 },
                500: { slidesPerView: 1 }
            }
        });
    });
</script>